[phases.setup]
nixPkgs = [
  "glib",
  "nss",
  "nspr",
  "atk",
  "cups",
  "dbus",
  "expat",
  "libdrm",
  "libxcb",
  "libxkbcommon",
  "mesa",
  "pango",
  "cairo",
  "alsa-lib"
]

[phases.build]
cmds = [
  "npm install",
  "npx playwright install chromium"
]

[start]
cmd = "npx prisma migrate deploy && node src/index.js"